@page "/predictor"
@using BlazorServerML.ML
@inject Predictor _predictor

<h3>Predictor</h3>
<hr />
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>Longitude</label>
            <input type="text" class="form-control" @bind="item.Longitude">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>Latitude</label>
            <input type="text" class="form-control" @bind="item.Latitude">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitCamelCase(nameof(item.HousingMedianAge))</label>
            <input type="text" class="form-control" @bind="item.HousingMedianAge">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitCamelCase(nameof(item.TotalRooms))</label>
            <input type="text" class="form-control" @bind="item.TotalRooms">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitCamelCase(nameof(item.TotalBedrooms))</label>
            <input type="text" class="form-control" @bind="item.TotalBedrooms">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitCamelCase(nameof(item.Population))</label>
            <input type="text" class="form-control" @bind="item.Population">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitCamelCase(nameof(item.Households))</label>
            <input type="text" class="form-control" @bind="item.Households">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitCamelCase(nameof(item.MedianIncome))</label>
            <input type="text" class="form-control" @bind="item.MedianIncome">
        </div>
    </div><div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitCamelCase(nameof(item.MedianHouseValue))</label>
            <input type="text" class="form-control" @bind="pred.PredictedPrice">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitCamelCase(nameof(item.OceanProximity))</label>
            <input type="text" class="form-control" @bind="item.OceanProximity">
        </div>
    </div>

    <div class="col-12">
        <button type="submit"
                class="btn btn-primary"
                style="width:200px;margin-top:12px;"
                @onclick="GetPrediction">
            Get Prediction
        </button>
    </div>
</div>
<hr />
<h4>Result</h4>
@if (pred == null) {
    <p>Loading...</p>
}
else {
<pre>
    Longitude           : @item.Longitude
    Latitude            : @item.Latitude
    Housing median age  : @item.HousingMedianAge
    Total rooms         : @item.TotalRooms
    Total bedrooms      : @item.TotalBedrooms
    Population          : @item.Population
    House holds         : @item.Households
    Median income       : @item.MedianIncome
    Ocean proximity     : @item.OceanProximity
    Median house value  : @pred.PredictedPrice (predicted)
</pre>
}

@code {
    HousingData item;
    HousingPrediction pred = new();

    protected override void OnInitialized()
    {
        item = new HousingData() {
            Longitude = -122.23F,
            Latitude = 37.88F,
            HousingMedianAge = 41F,
            TotalRooms = 880F,
            TotalBedrooms = 129F,
            Population = 322F,
            Households = 126F,
            MedianIncome = 8.3252F,
            OceanProximity = "NEAR BAY",
        };
        GetPrediction();
    }

    void GetPrediction()
    {
        pred = _predictor.Predict(item);
    }
}
