@page "/predictor"
@using BlazorServerML.ML
@inject Predictor _predictor

<h3>California Housing Prices</h3>
<hr />
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitName(nameof(item.Longitude))</label>
            <input type="text" class="form-control" @bind="item.Longitude">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitName(nameof(item.Longitude))</label>
            <input type="text" class="form-control" @bind="item.Latitude">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitName(nameof(item.HousingMedianAge))</label>
            <input type="text" class="form-control" @bind="item.HousingMedianAge">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitName(nameof(item.TotalRooms))</label>
            <input type="text" class="form-control" @bind="item.TotalRooms">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitName(nameof(item.TotalBedrooms))</label>
            <input type="text" class="form-control" @bind="item.TotalBedrooms">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitName(nameof(item.Population))</label>
            <input type="text" class="form-control" @bind="item.Population">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitName(nameof(item.Households))</label>
            <input type="text" class="form-control" @bind="item.Households">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitName(nameof(item.MedianIncome))</label>
            <input type="text" class="form-control" @bind="item.MedianIncome">
        </div>
    </div><div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitName(nameof(item.MedianHouseValue))</label>
            <input type="text" class="form-control" @bind="predictionPrice" readonly="readonly">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>@Utils.SplitName(nameof(item.OceanProximity))</label>
            <select class="form-control" @bind="@item.OceanProximity">
                <option value="NEAR BAY">NEAR BAY</option>
                <option value="NEAR OCEAN">NEAR OCEAN</option>
                <option value="INLAND">INLAND</option>
                <option value="LT 1H OCEAN">LT 1H OCEAN</option>
            </select>
        </div>
    </div>
    <div class="col-12">
        <button type="submit"
                class="btn btn-primary"
                style="width:200px;margin-top:12px;"
                @onclick="GetPrediction">
            Update Prediction
        </button>
    </div>
</div>

<hr />
<h4>Predicted Price: USD @predictionPrice.ToString("C")</h4>

@code {
    HousingData item;
    float predictionPrice;

    protected override void OnInitialized()
    {
        // setup with a real data
        item = new HousingData() {
            Longitude = -122.23F,
            Latitude = 37.88F,
            HousingMedianAge = 41F,
            TotalRooms = 880F,
            TotalBedrooms = 129F,
            Population = 322F,
            Households = 126F,
            MedianIncome = 8.3252F,
            OceanProximity = "NEAR BAY",
        };
        GetPrediction();
    }

    void GetPrediction()
    {
        var predictionData = _predictor.Predict(item);
        predictionPrice = predictionData != null ? predictionData.PredictedPrice : 0;
    }
}
